@page
@using Microsoft.Extensions.Localization
@using Providers.Localization
@using Providers.Web.Pages.Providers
@model Providers.Web.Pages.Providers.IndexModel
@inject IStringLocalizer<ProvidersResource> L

@{
}
<h1>Providers</h1>
<p>@L["SamplePageMessage"]</p>
