@page
@using Microsoft.Extensions.Localization
@using Drivers.Localization
@using Drivers.Web.Pages.Drivers
@model Drivers.Web.Pages.Drivers.IndexModel
@inject IStringLocalizer<DriversResource> L

@{
}
<h1>Drivers</h1>
<p>@L["SamplePageMessage"]</p>
